{% extends 'base.html.twig' %}

{% block body %}
    <h2 class='text-center'>Créer une tâche</h2>
    <div class="row">
        {{ form_start(form, {'action' : path('task_create')}) }}
            {{ form_widget(form) }}
            <div class="d-flex justify-content-start flex-wrap">
                <button type="submit" class="btn btn-success d-block mb-3">Ajouter</button>
                <a href="{{ path('to-do_list') }}"><div class="btn btn-primary d-block ms-2">Retour à la liste des tâches</div></a>
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}