{% extends 'base.html.twig' %}

{% block header_title %}<h2 class="text-center">Créer un utilisateur</h2>{% endblock %}
{% block header_img %}{% endblock %}

{% block body %}
    <div class="row">
        <div class="mb-3">
        </div>
        {{ form_start(form, {'action' : path('user_create')}) }}
                {{ form_widget(form) }}
                <button type="submit" class="btn btn-success d-block">Ajouter</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
