{% extends 'base.html.twig' %}

{% block header_title %}<h1 class="text-center">Créer un utilisateur</h1>{% endblock %}
{% block header_img %}{% endblock %}

{% block body %}
    <div class="row">
        <div class="mb-3">
        </div>
        {{ form_start(form, {'action' : path('user_create')}) }}
                {{ form_widget(form) }}
        <div class="row">
            <div class="offset-4 col-4 border-primary">
                <button type="submit" class="btn btn-success d-block mx-0 px-0">Ajouter</button>
            </div>
        </div>        

        {{ form_end(form) }}
    </div>
{% endblock %}
